.build-save {
    width: 30rem; 
    margin: 1.5rem auto;
    padding: 1rem;
    background: rgba(240, 230, 210, 0.85);
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .build-save label {
    font-size: 1rem;
    font-weight: bold;
    color: #5A3E1B;
    margin-bottom: 0.5rem;
  }
  
  .save-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
  
  .build-save input {
    font-size: 0.9rem;  /* Réduction */
    padding: 0.5rem;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #C89B3C;
    background: rgba(255, 255, 255, 0.2);
    color: #3D2E1E;
    transition: all 0.3s ease-in-out;
  }
  
  .build-save input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.4);
  }
  
  .build-save button {
    font-size: 0.9rem;  /* Réduction */
    padding: 0.5rem 1rem;
    background: linear-gradient(135deg, #C89B3C, #A37D2E);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .build-save button:hover {
    background: linear-gradient(135deg, #A37D2E, #87661E);
  }
  