.build-details {
    display: flex;
    flex-direction: column;  /* Affiche les builds les uns sous les autres */
    align-items: center;
    gap: 30px;  /* Espacement entre chaque build */
    padding: 20px;
  }
  
  .build-card {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
    align-items: center;
    background: rgba(240, 230, 210, 0.85);
    padding: 15px;
    border-radius: 10px;
    width: 1600px;  /* Limite la largeur maximale de chaque build */
    height: 800px;
  }
  
  .build-id {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;  
    display: flex;
    justify-content: center; 
  }
  
  .card-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }
  
  .champion-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 400px;
  }
  
  .items-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;  /* Assure que les items restent sur une seule ligne */
    gap:3px;
    width: 400px; 
  }
  
  .items-container > * {
    transform: scale(0.7);  /* Réduit la taille des items pour mieux les ajuster */
    gap: 3px;
  }
  
  .champion-container > * {
    transform: scale(0.7);  /* Réduit légèrement la taille du champion */
  }
  
  .build-card h3 {
    margin-right: 1Opx; /* Espacement du titre */
  }
  